<!--   Historia     --> 
<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 text-center fh5co-heading">
                    <div class="text-center editableTitulo"
                    id="TituloHistoria"
                    contenteditable="true"
                    (click)="onClickTituloHistoria()"
                    (keydown)="onKeyDown($event, 50)"
                    (blur)="onTituloHistoriaBlur($event)"
                    >
                        {{dataHistoria.titulo}}
                    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-0">                    
					<ul class="timeline" *ngFor="let item of dataHistoria.details; let i = index;">                        
						<li [ngClass]="{ 'timeline-inverted': i % 2 !== 0 }">
                            <img src="../../../../assets/editarImagen.png"
                                alt="editar imagen" 
                                class="edit-image-btn-int"
                                title="Click para editar imagen"
                                (click)="triggerImageUpload(item.id)"
                                *ngIf="!loadingImgs[item.id]">
                                <div class="loaderImg" *ngIf="loadingImgs[item.id]"></div>
							<div class="timeline-badge" [ngStyle]="{'background-image': 'url('+item.imagen+')'}" appDisableDownload></div>              
							<div class="timeline-panel">
								<div class="timeline-heading">
                  <!-- ToDo implementar lo de el limite de registros -->
                                    <img src="../../../../assets/BtnDelete.png" 
                                        alt="" 
                                        height="64px" 
                                        width="64px" 
                                        [ngClass]="i % 2 !== 0 ? 'editDondeCuandoDelete' : 'editIntinerarioDelete editIntinerarioDelete-LR'"
                                        title="Click para eliminar elemento"
                                        (click)="triggerImageDelete(item.id)"
                                        *ngIf="!loadingImgs[item.id] && (dataHistoria?.details?.length || 0) > 1"
                                    />
                                    <div class="loaderDCDelete" *ngIf="loadingImgs[item.id]"></div>
									<h3 class="timeline-title"
                                        [attr.data-id-fecha-historia]="item.id"                                        
                                        contenteditable="true"
                                        (click)="onClickFechaHistoria(item.id)"
                                        (keydown)="onKeyDown($event, 22)"
                                        (blur)="onFechaHistoriaBlur($event, item)"
                                    >
                                        {{item.fecha}}
                                    </h3>
									<span class="date"
                                        [attr.data-id-desc-historia]="item.id"                                    
                                        contenteditable="true"
                                        (click)="onClickDescHistoria(item.id)"
                                        (keydown)="onKeyDown($event, 200)"
                                        (blur)="onDescHistoriaBlur($event, item)"
                                    >
                                        {{item.descripcion}}
                                    </span>
								</div>
							</div>
						</li>                        
			    	</ul>
				</div>
			</div>
	</div>
    <div class="addNewDC" *ngIf="!loading">
        <img src="../../../../assets/BtnAddNew.png" alt="" height="64px" width="64px" (click)="nuevaHistoria()" *ngIf="showAddHistoriaBtn()"
                title="Click para Agregar una nueva parte de la historia" style="cursor: pointer;">
    </div>
</div>  