.imagen-fondo {
  position: relative;
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 20px 200px 20px;
  color: white;
  text-align: center;
  background-repeat: no-repeat
}

.editImage {
  position: absolute;  /* <-- importante */
  top: 1px;           /* respeta el padding superior del section */
  right: 1px;          /* respeta el padding izquierdo del section */
  z-index: 999;        /* encima de todo */
  display: block;
}

.edit-imageIndicaciones-btn {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.12s ease;
}

.edit-imageIndicaciones-btn:hover {
  transform: scale(1.1);
}

.grid-container {
  display: flex;
  gap: 20px;
}

.card {
  position: relative; /* Necesario para posicionar el ícono */
  background: #fff;
  color: #333;
  border-radius: 15px;
  padding: 80px 20px 20px; /* espacio arriba para el ícono */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.cardIcon {
  position: absolute;
  top: -40px; /* lo sube encima */
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-color); /* color del círculo */
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Ajuste del icono dentro del círculo */
.cardIcon img {
  width: 80px;
  height: 80px;
}

.titulo{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.newBtn {
  margin-top: 0.5vw;
}

.heading{
    margin-bottom: 5vw; 
    width: 50%;
}

.heading p{
    font-size: 18px;
}

.mesa-form-control{
    font-size: 14px;
    padding-bottom: 1vh;
    width: 250px;
}

.edit-icon-image-btn {
  position: absolute;
  top: -65px;
  right: calc(50% - 60px);
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 101;
}

.edit-icon-image-btn:hover {
  transform: scale(1.1);
}

.inside-row-btn-mesa{
  margin-bottom: 2.5rem;
  margin-top: 0.5vh;
  font-size: 15px
}

@media screen and (max-width: 767px) {
    .imagen-fondo {
      padding: 16px 12px; 
      height: auto;
    }

    .editImage {
      top: 5px;
      right: 1px;      
    }

    .edit-imageIndicaciones-btn {
      width: 32px;
      height: 32px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        max-width: 1000px;
        margin: 0 auto;
    }

    .card {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        text-align: center;
        transition: transform 0.2s;
        height: auto;
        width: 90vw;
        top: 4vh;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .newBtn {
      margin-top: 6vh;
    }

   .heading{
        margin-bottom: 5vw;
        width: 80%;
    }
    .heading p{
        font-size: 14px;
    }

    .url-section{
        display: grid;
    }

    .inside-row-btn-mesa{
      width: 150px;
    }
}
