<form (ngSubmit)="onSubmit()" #eventoForm="ngForm">
  <h2>Datos del Evento</h2>
<table style="width: 100%;">
  <tr>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>Nombre del Evento</mat-label>
        <input matInput name="nombre" [(ngModel)]="evento.nombre" required>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="evento.fecha" name="fecha" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi="true"></mat-datepicker>
      </mat-form-field>
    </td>
  </tr> 
  <tr>
    <td>
      <mat-form-field appearance="fill" style="flex: 1; width: 100%;">
        <mat-label>Tipo de Evento</mat-label>
        <mat-select name="tipoEvento" (selectionChange)="tipoEventoChange($event)" required>
          <mat-option *ngFor="let tipo of tipoEvento" [value]="tipo.name">
            {{ tipo.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>      
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field appearance="fill" [hidden]="tipoEventoTxtHidden">
        <mat-label>Escribe el tipo de Evento</mat-label>
        <input matInput name="tipoEventoTxt" [(ngModel)]="evento.tipoEvento" required>
      </mat-form-field>
    </td>
  </tr>
  <tr>
  <td colspan="2">
    <div style="display: flex; gap: 16px;">
      <mat-form-field appearance="fill" style="flex: 1; width: 20%;">
        <mat-label>País</mat-label>
        <mat-select [(ngModel)]="evento.codigoPais" name="codigoPais" required>
          <mat-option *ngFor="let pais of codigosPais" [value]="pais.dialCode">
            {{ pais.name }} ({{ pais.dialCode }})
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="flex: 2; width: 80%;">
        <mat-label>Número de WhatsApp</mat-label>
        <input
          matInput
          name="numero"
          [(ngModel)]="evento.whatsapp"
          required
          type="tel"
          pattern="[0-9]*"
          maxlength="15" />
      </mat-form-field>
    </div>
  </td>
</tr>
  <tr>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="evento.email" required>
      </mat-form-field>
    </td>
  </tr>
  <!-- <tr>
    <td>
      <label>Imagen alusiva al evento</label>
      <input type="file" name="imagen" (change)="onFileChange($event)" /> 
    </td>
  </tr> -->
</table> <br />
  <!-- <h4>Seleccion de plan</h4>
  <p>De click sobre el plan que mas se acomode a sus necesidades</p>
  <swiper-container
    slides-per-view="1"
    navigation="true"
    pagination="true"
    loop="true"
    #swiperRef>

    <swiper-slide *ngFor="let plan of plans" (click)="seleccionarPlan(plan)">
      <app-plan-card
        [planTitle]="plan.title"
        [price]="plan.price"
        [features]="plan.features"
        [headerColor]="plan.color"
        [planSubtitle]="plan.subtitle">
      </app-plan-card>
    </swiper-slide>
  </swiper-container>

  <p *ngIf="evento.plan">Plan seleccionado: <strong>{{ evento.plan | titlecase }}</strong></p>
  <table style="width:100%">
    <tr>
      <td style="padding-bottom: 18px;"><input name="condiciones" type="checkbox" (click)="checkBoxClick()"></td>
      <td><p>He leido los <a style="cursor:pointer;
     color:blue;
     text-decoration:underline;" (click)="openPopup()">terminos y condiciones</a></p></td>
    </tr>
  </table> -->
  <div *ngIf="loading" class="loading-container">
    <img src="../../../assets/images/loading2.gif" alt="Cargando..." />
  </div>
  <div class="button-group">
    <button class="btn btn-primary" type="submit" style="padding-left: 50px;padding-right: 50px;" [disabled]="!isFormValid">Guardar Evento</button>
  </div>
  <app-popup-html
    [visible]="showPopup"
    [htmlContent]="terminosHtml"
    [title]="'Términos y Condiciones'"
    (closed)="showPopup = false">
  </app-popup-html>
</form>