<div class="popup-backdrop" *ngIf="visible">
  <div class="popup-container" (click)="$event.stopPropagation()">
    <div class="popup-header">
      <div><h2>{{ title }}</h2></div>
    </div>

    <div class="popup-content">
      <!-- Si tenemos imágenes, mostramos el carrusel Angular -->
      <ng-container *ngIf="images?.length as total; else editHtml">
        <div class="carousel" *ngIf="total > 0">
          <button class="nav prev" (click)="prev()">&#10094;</button>

          <div class="slide-wrapper">
            <img
              [src]="images![currentIndex]"
              alt="imagen {{currentIndex}}"
              class="slide-img"
              (click)="selectImage(images![currentIndex])"              
            />
          </div>

          <button class="nav next" (click)="next()">&#10095;</button>
        </div>

        <!-- indicadores -->
        <div class="dots" *ngIf="total > 1">
        <span
          *ngFor="let img of images!; let idx = index"
          class="dot"
          [class.active]="idx === currentIndex"
          (click)="currentIndex = idx">
        </span>
      </div>
      <div><button (click)="close()">Cerrar</button></div>
      </ng-container>

      <!-- Fallback: usamos innerHTML (legacy) -->

       <ng-template #editHtml>
        <ng-container *ngIf="personasFavoritasEdit; else rawHtml">
            <img src="../../../../assets/editarImagen.png" 
                                alt="editar imagen" 
                                class="edit-image-btn-PF"
                                title="Click para editar icono"  
                                (click)="triggerImageUpload()"
                                *ngIf="!loadingImg"
                            >
            <div class="loader" *ngIf="loadingImg"></div>
            <div>
              <img [src] = "imagenPF" class="img"/>              
            </div>
            <div contenteditable="true"
              (click)="onClickParentesco()"
              (keydown)="onKeyDown($event, 80)"
              (blur)="onParentescoBlur($event)" 
            >
              {{parentescoPF}}
            </div>
            <div 
            contenteditable="true"
            (click)="onClickNombres()"
            (keydown)="onKeyDown($event, 150)"
            (blur)="onNombresBlur($event)" 
            >{{nombresPF}}</div>
            <div class="buttons">
              <button (click)="close()">Cerrar</button>
              <button (click)="deletePersonaFavorita()">Eliminar</button>
            </div>
        </ng-container>        
      </ng-template>

      <ng-template #rawHtml>
        <div class="raw-html" [innerHTML]="htmlContent"></div>
      </ng-template>      
    </div>
  </div>

  <!-- clic en backdrop cierra -->
  
</div>
