<body>
  <div class="close-button" (click)="cancelar()">✖</div>
  <header>Resumen de Pago</header>
  <div class="container">
    <div class="payment-resume">
      <div>
        <b>Evento: {{ data.evento.nombre }}</b>
      </div>
      <div>
        <b>Fecha: {{ data.evento.fecha }}</b>
      </div>
      <div>
        <b>Estatus: {{ data.evento.estatus }}</b>
      </div>
      <div>
        <b>Total a pagar: {{ data.evento.costo | currency:'$' }}</b>
      </div>
      <div>
        <b>Elige tu opcion de pago favorito:</b>
      </div>
    </div>
    <!-- NetPay -->
    <!-- <div class="payment-option" name="Mercadolibre" (click)="confirmar($event)">
      <div class="payment-left">
        <span class="method-name">Net Pay</span>
      </div>
      <div class="logos">
        <img src="../../../assets/tarjetasNetPay.png" alt="NetPay" title="Acepta Visa, Mastercard y AMEX">
      </div>
    </div> -->
    <!-- Mercado Pago -->
    <div class="payment-option" name="Mercadolibre" (click)="confirmar($event)">
      <div class="payment-left">
        <span class="method-name">Mercado Pago</span>
      </div>
      <div class="logos">
        <img src="../../../assets/tarjetas.png" alt="MercadoPago"
          title="Acepta Visa, Mastercard, AMEX, MercadoPagoy Pago en efectivo">
      </div>
    </div>
  </div>
</body>