.imagen-fondo {
  position: relative;
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 20px 200px 20px;
  color: white;
  text-align: center;
  background-repeat: no-repeat
}

.editImage {
  position: absolute;  /* <-- importante */
  top: 1px;           /* respeta el padding superior del section */
  right: 1px;          /* respeta el padding izquierdo del section */
  z-index: 999;        /* encima de todo */
  display: block;
}

.edit-imageIndicaciones-btn {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.12s ease;
}

.edit-imageIndicaciones-btn:hover {
  transform: scale(1.1);
}

.heading{
    margin-bottom: 5vw; 
    width: 50%;
}

.heading p{
    font-size: 18px;
}

.grid-container {
  display: flex;
  gap: 20px;
}

.inside-row-btn-mesa{
  margin-bottom: 2.5rem;
  margin-top: 0.5vh;
  font-size: 15px
}

.card {
  position: relative; /* Necesario para posicionar el ícono */
  background: #fff;
  color: #333;
  border-radius: 15px;
  padding: 80px 20px 20px; /* espacio arriba para el ícono */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
  margin: 30px;
}

.card:hover {
  transform: translateY(-5px);
}

.titulo{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.newBtn {
  margin-top: 0.5vw;
}

.cardIcon {
  position: absolute;
  top: -40px; /* lo sube encima */
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-color); /* color del círculo */
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Ajuste del icono dentro del círculo */
.cardIcon img {
  width: 80px;
  height: 80px;
}

.url-section{
  margin-top: 10px;
  display: grid;
}

@media screen and (max-width: 767px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        max-width: 1000px;
        margin: 0 auto;
    }

    .inside-row-btn-mesa{
      width: 200px;
    }

    .url-section{
        display: grid;
    }

    .newBtn {
      margin-top: 6vh;
    }

    .cardIcon{
        margin-top: 20px;
    }

    .card{
        margin-top: 30px;
    }
}