<div class="parent">         
  <div class="container" id="container">
  <div class="form-container" >
      <form [formGroup]="resetForm" (ngSubmit)="onReset()">
          <h3>Ingrese la informacion requerida</h3>
          <input type="password" placeholder="Nueva Contraseña" formControlName="Password" />
          <div *ngIf="resetForm.get('Password')?.invalid && resetForm.get('Password')?.touched">
            <small *ngIf="resetForm.get('Password')?.errors?.['required']">Password es requerido</small>
          </div>          
          <input type="password" placeholder="Repita Nueva Contraseña" formControlName="Password2" />
          <div *ngIf="resetForm.get('Password2')?.invalid && resetForm.get('Password2')?.touched">
            <small *ngIf="resetForm.get('Password2')?.errors?.['required']">Password es requerido</small>
          </div>
          <button type="submit">Cambiar</button>
      </form>
  </div>
</div>       
</div>