<div class="parent">
  <div class="container" id="container">
    <div class="form-container">
      <form [formGroup]="resetForm" (ngSubmit)="onReset()">
        <h3>Ingrese la informacion requerida</h3>
        <input type="password" placeholder="Nueva Contraseña" formControlName="Password" [readonly]="isLoading" />
        @if (resetForm.get('Password')?.invalid && resetForm.get('Password')?.touched) {
        <div>
          @if (resetForm.get('Password')?.errors?.['required']) {
          <small>Password es requerido</small>
          }
        </div>
        }
        <input type="password" placeholder="Repita Nueva Contraseña" formControlName="Password2"
          [readonly]="isLoading" />
        @if (resetForm.get('Password2')?.invalid && resetForm.get('Password2')?.touched) {
        <div>
          @if (resetForm.get('Password2')?.errors?.['required']) {
          <small>Password es requerido</small>
          }
        </div>
        }
        @if (isLoading) {
        <img src="../../../assets/images/loading.gif" width="24" height="24" />
        }
        @if (!isLoading) {
        <button type="submit" [disabled]="isLoading" [class.loading]="isLoading"
          style="display: flex; justify-content: center; align-items: center;">
          <span>Cambiar</span>
        </button>
        }
      </form>
    </div>
  </div>
</div>