.sidenav-container {
  height: 100vh;
}

.main-content {
  padding-top: 10px;
  padding-left: 70px;
  overflow-y: auto;
  height: calc(100vh - 64px);
}

@media (max-width: 768px) {
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}