:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.sidenav-container {
  height: 100%;
  overflow: hidden;
}

:host ::ng-deep .mat-drawer-content {
  height: auto !important;
}

.main-content {
  padding-top: 10px;
  padding-left: 70px;
  overflow-y: auto;
  height: calc(100vh - 64px);
}

@media (max-width: 768px) {
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}