<div class="countdown">
  <div class="time-box">
    <span class="number">{{ days }}</span>
    @if (showLabels) {
      <span>Días</span>
    }
  </div>
  <div class="time-box">
    <span class="number">{{ hours }}</span>
    @if (showLabels) {
      <span>Horas</span>
    }
  </div>
  <div class="time-box">
    <span class="number">{{ minutes }}</span>
    @if (showLabels) {
      <span>Mins</span>
    }
  </div>
  <div class="time-box">
    <span class="number">{{ seconds }}</span>
    @if (showLabels) {
      <span>Segs</span>
    }
  </div>
</div>

