<div class="countdown">
  <div class="time-box">
    <span class="number">{{ days }}</span>
    <span *ngIf="showLabels">Días</span>
  </div>
  <div class="time-box">
    <span class="number">{{ hours }}</span>
    <span *ngIf="showLabels">Horas</span>
  </div>
  <div class="time-box">
    <span class="number">{{ minutes }}</span>
    <span *ngIf="showLabels">Mins</span>
  </div>
  <div class="time-box">
    <span class="number">{{ seconds }}</span>
    <span *ngIf="showLabels">Segs</span>
  </div>
</div>

