<app-portada [eventId] = "eventId" [data]="data.portada"></app-portada>
<app-festejados [eventId] = "eventId" [data]="data.festejados"></app-festejados>
<app-indicaciones [eventId] = "eventId" [data]="data.indicaciones"></app-indicaciones>
<app-donde-cuando [eventId] = "eventId" [data]="data.dondeCuando" [dataIntinerario]="data.intinerario"></app-donde-cuando>
<app-mesa-regalos [eventId] = "eventId" [data]="data.mesaRegalos"></app-mesa-regalos>
<app-personas-favoritas [eventId] = "eventId" [data]="data.personasFavoritas"></app-personas-favoritas>