.image-container {
  position: relative;
  display: inline-block; /* o block según el diseño */
  width: 100%;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.image-caption {
  position: absolute;
  top: 5vh; /* o bottom: 0, según dónde quieras el texto */
  left: 0;
  width: 100%;
  padding: 10px;
  font-family: 'Great Vibes', cursive;  
  color: white;
  text-align: center;
  font-size: 60px;
  margin: 0;
  text-transform: capitalize;
}

.subtitle {
  position: absolute;
  top: 15vh; /* o bottom: 0, según dónde quieras el texto */
  left: 0;
  width: 100%;
  padding: 10px;
  font-family: 'Arial';
  color: white;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

@media (max-width: 500px) {
  .image-caption {
    position: absolute;
    top: 5vh; /* o bottom: 0, según dónde quieras el texto */
    left: 0;
    width: 100%;
    padding: 10px;
    font-family: 'Great Vibes', cursive;  
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 0;
  }

  .subtitle {
    position: absolute;
    top: 8vh; /* o bottom: 0, según dónde quieras el texto */
    left: 0;
    width: 100%;
    padding: 10px;
    font-family: 'Arial';
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 0;
  }
}