<div id="fh5co-event" class="fh5co-bg" *ngIf="!loading"
[ngStyle]="{
       'background-image': 'linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.5)), url(' + data?.imagen +')',
       'background-size': 'cover',
       'background-position': 'center',
       'background-repeat': 'no-repeat',
       'padding-top': '10px'
     }"
>
    <div class="editImage"> 
        <img src="../../../../assets/editarImagen.png" class="edit-imageDC-btn" alt="" title="Click para editar imagen de fondo" 
                        (click)="triggerBGImageUpload()" *ngIf="false">
        <div class="loaderDC" *ngIf="false"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading dondeCuandoTitle" *ngIf="!loading">
                <h2>Donde y Cuando</h2>
            </div>
        </div>            

        <div class="row" cdkDropList
            (cdkDropListDropped)="drop($event)">
            <div class="col-md-6 col-sm-6 text-center dondeCuando" *ngFor="let item of data.details; let i = index; trackBy: trackById" cdkDrag [cdkDragDisabled]="editingActividadId === item.id">                    
                <div class="event-wrap" [ngStyle]="{
                                            'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + item.imagen + ')',
                                            'background-size': 'cover',
                                            'background-position': 'center',
                                            'background-repeat': 'no-repeat'
                                        }">
                        <img src="../../../../assets/editarImagen.png" alt="" height="64px" width="64px" class="editDondeCuandoImage"
                                (click)="triggerImageUpload(item.id)" title="Click para editar imagen de fondo" *ngIf="!loadingImgs[item.id]">
                        <div class="loaderDC" *ngIf="loadingImgs[item.id]"></div>

                        <img src="../../../../assets/BtnDelete.png" 
                            alt="" 
                            height="64px" 
                            width="64px" 
                            class="editDondeCuandoDelete"
                            (click)="triggerImageDelete(item.id)" 
                            title="Click para eliminar elemento" 
                            *ngIf="!loadingImgs[item.id] && (data?.details?.length || 0) > 1">
                        <div class="!loaderDCDelete" *ngIf="!loadingImgs[item.id]"></div>
                        <div class="dondeCuandoTitle"
                            [attr.data-id-actividad]="item.id"
                            contenteditable="true"
                            (pointerdown)="$event.stopPropagation()"
                            (mousedown)="$event.stopPropagation()"
                            (touchstart)="$event.stopPropagation()"
                            (click)="onClickActividad(item.id)"
                            (keydown)="onKeyDown($event, item)"
                            (blur)="onActividadBlur($event, item)">
                            {{ item.actividad }}
                        </div>                                         
                    <div class="event-col">
                        <div><i class="icon-clock"></i></div>                            
                        <div
                            class="editable-text-bolded editable-text"
                            [attr.data-id-hora]="item.id"
                            contenteditable="true"
                            (pointerdown)="$event.stopPropagation()"
                            (mousedown)="$event.stopPropagation()"
                            (touchstart)="$event.stopPropagation()"
                            (click)="onClickHora(item.id)"
                            (keydown)="onKeyDown($event, item)"
                            (blur)="onHoraBlur($event, item)">
                            <span><b>{{item.hora}}</b></span>
                        </div>                            
                    </div>                            
                    <div class="event-col">
                        <div><i class="icon-calendar"></i></div>
                        <div
                            class="editable-text-bolded editable-text"
                            [attr.data-id-fecha]="item.id"
                            contenteditable="true"
                            (pointerdown)="$event.stopPropagation()"
                            (mousedown)="$event.stopPropagation()"
                            (touchstart)="$event.stopPropagation()"
                            (click)="onClickFecha(item.id)"
                            (keydown)="onKeyDown($event, item)"
                            (blur)="onFechaBlur($event, item)">
                            <span><b>{{item.fecha}}</b></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inside-row">
                            <div class="dondeCuandoGeneral dondeCuandoLugar-space">Lugar:</div>
                            <div
                                class="editable-text"
                                [attr.data-id-lugar]="item.id"
                                contenteditable="true"
                                (pointerdown)="$event.stopPropagation()"
                                (mousedown)="$event.stopPropagation()"
                                (touchstart)="$event.stopPropagation()"
                                (click)="onClickLugar(item.id)"
                                (keydown)="onKeyDown($event, item)"
                                (blur)="onLugarBlur($event, item)">
                                <span>{{item.lugar}}</span>
                            </div>
                        </div>                        
                        <div class="inside-row">
                            <div class="dondeCuandoDireccion dondeCuandoGeneral dondeCuando-space">Direccion:</div>
                            <div
                                class="editable-text"
                                [attr.data-id-direccion]="item.id"
                                contenteditable="true"
                                (pointerdown)="$event.stopPropagation()"
                                (mousedown)="$event.stopPropagation()"
                                (touchstart)="$event.stopPropagation()"
                                (click)="onClickDireccion(item.id)"
                                (keydown)="onKeyDown($event, item)"
                                (blur)="onDireccionBlur($event, item)"
                                style="text-align: left;">
                                <span>{{item.direccion}}</span>
                            </div>
                        </div>                           
                        <div class="inside-row">
                            <div class="dondeCuandoGeneral dondeCuando-space">Ubicacion:</div>
                            <a href="{{item.ubicacion}}" 
                                target="_blank" 
                                class="inside-row-btn btn btn-primary">
                                Ver Ubicación
                            </a>
                            <a (click)="abrirMapa(item.id)"
                                class="dondeCuandoGeneral inside-row-btn btn btn-secondary">
                                Editar
                            </a>
                        </div>
                    </div>
                </div>
            </div>													
        </div>
    </div>
    <div class="addNewDC" *ngIf="!loading">
        <img src="../../../../assets/BtnAddNew.png" alt="" height="64px" width="64px" *ngIf="!loading"
                title="Click para Agregar un nuevo Lugar" (click)="nuevoDondeCuando()" style="cursor: pointer;">
    </div>
</div>