  <!-- ====== ENCABEZADO ====== -->
  <div class="container">
    <div class="row">
      <div class="text-center editableTitulo"
        contenteditable="true"
        id="TituloPF"
        (click)="onClickTituloPF()"
        (keydown)="onKeyDown($event, 50)"
        (blur)="onTituloBlur($event)"
      >
        {{ data.titulo }}
      </div>
      <div
        class="text-center frase"
        contenteditable="true"
        (click)="onClickFrasePF()"
        (keydown)="onKeyDown($event, 120)"
        (blur)="onFraseBlur($event)"
        id="FrasePF"
      >
        <p>{{ data.frase }}</p>
      </div>
    </div>
  </div>

  <!-- ====== GALERÍA ====== -->
  <section
    class="gallery-root"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
    (pointercancel)="onPointerUp($event)"
  >
    <div *ngIf="showGallery"
      class="gallery-container"
      (mouseleave)="resumeAutoplayWithDelay()"
    >
      <!-- 🔹 Galería de imágenes -->
      <div class="gallery" [ngClass]="animationDirection">
        <div class="side left">
          <img [src]="prevImg()" alt="prev" class="side-img left-img" appDisableDownload />
        </div>
        <img src="../../../../assets/editData.png" 
                                alt="editar imagen" 
                                class="edit-image-btn-PF"
                                title="Click para editar icono"
                                (click) = "onOpenPopup()"
                            >
        <div class="center">
          <img
            [src]="currentImg()"
            alt="current"
            class="center-img"
            appDisableDownload
          />
        </div>

        <div class="side right">
          <img [src]="nextImg()" alt="next" class="side-img right-img" appDisableDownload />
        </div>
      </div>      
      <!-- ====== DESCRIPCIONES ====== -->
      <div class="gallery-descriptions">
        <div
          class="image-parentesco"
          *ngIf="currentParentesco()"
        >
          {{ currentParentesco() }}
        </div>

        <div
          class="image-nombre"
          *ngIf="currentNombres()"
        >
          {{ currentNombres() }}
        </div>        
      </div>

      <!-- ====== NAVEGACIÓN ====== -->
      <div class="nav-container">
        <button class="nav" (click)="prev()">‹</button>
        <button class="nav" (click)="next()">›</button>
      </div>

      <div class="dots" *ngIf="data?.details?.length > 1">
        <button
          class="dot"
          *ngFor="let _ of data?.details; let i = index"
          [class.active]="i === currentIndexValue"
          (click)="goTo(i)"
        ></button>
      </div>
    </div>
  </section>
  <div style="text-align: center;">
          <img src="../../../../assets/BtnAddNew.png" (click)="addNewPersonaFavorita()"
                alt="" height="64px" width="64px" title="Click para Agregar un nuevo elemento" style="cursor: pointer;"                                                                           
          />
        </div>
<ng-container *ngIf="showPopup">
<app-popup-html 
  [visible]="showPopup" 
  title="Modifica la informacion"
  [personasFavoritasEdit] = "true"
  [imagenPF]="currentImagen4Popup"
  [parentescoPF]="currentParentesco4Popup"
  [nombresPF]="currentNombre4Popup"
  [personaFavoritaId]="currentId4Popup"
  (closed)="onClosePopup()"
>
</app-popup-html>
</ng-container>