<div
  [ngStyle]="{
    'background-image': 'url(../../../../assets/background.jpg)',
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat',
    'padding-top': '2vh',
    'padding-bottom': '2vh'
  }"
>
  <!-- ====== ENCABEZADO ====== -->
  <div class="container">
    <div class="row">
      <div class="text-center editableTitulo"
        contenteditable="true"
        (click)="onClickTituloPF()"
        (keydown)="onKeyDownPF($event, 50)"
        (blur)="onTituloBlur($event)"
      >
        {{ data.titulo }}
      </div>
      <div
        class="text-center fh5co-heading descripcion-container"
        contenteditable="true"
        (click)="onClickFrasePF()"
        (keydown)="onKeyDownPF($event, 120)"
        (blur)="onFraseBlur($event)"
      >
        <p>{{ data.frase }}</p>
      </div>
    </div>
  </div>

  <!-- ====== GALERÍA ====== -->
  <section
    class="gallery-root"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
    (pointercancel)="onPointerUp($event)"
  >
    <div
      class="gallery-container"
      (mouseleave)="resumeAutoplayWithDelay()"
    >
      <!-- 🔹 Galería de imágenes -->
      <div class="gallery" [ngClass]="animationDirection">
        <div class="side left">
          <img [src]="prevImg()" alt="prev" class="side-img left-img" />
        </div>
        <img src="../../../../assets/editarImagen.png" 
                                alt="editar imagen" 
                                class="edit-image-btn-PF"
                                title="Click para editar icono"                                
                            >
        <div class="center">
          <img
            [src]="currentImg()"
            alt="current"
            class="center-img"
          />
        </div>

        <div class="side right">
          <img [src]="nextImg()" alt="next" class="side-img right-img" />
        </div>
      </div>

      <!-- ====== DESCRIPCIONES ====== -->
      <div class="gallery-descriptions">
        <div
          class="image-parentesco"
          *ngIf="currentParentesco()"
        >
          {{ currentParentesco() }}
        </div>

        <div
          class="image-nombre"
          *ngIf="currentNombres()"
        >
          {{ currentNombres() }}
        </div>
      </div>

      <!-- ====== NAVEGACIÓN ====== -->
      <div class="nav-container">
        <button class="nav" (click)="prev()">‹</button>
        <button class="nav" (click)="next()">›</button>
      </div>

      <div class="dots" *ngIf="data?.details?.length > 1">
        <button
          class="dot"
          *ngFor="let _ of data?.details; let i = index"
          [class.active]="i === currentIndexValue"
          (click)="goTo(i)"
        ></button>
      </div>
    </div>
  </section>
</div>
