  <div class="container">
    <div class="row">
      <div class="text-center editableTitulo"        
        id="Titulo"        
      >
        ¡Sube tus fotos del Evento!
      </div>      
    </div>
  </div>

<div class="uploader">

  <input
    #fileInput
    type="file"
    multiple
    accept=".jpg,.jpeg,.png,.heic,.heif"
    hidden
    (change)="onFilesSelected($event)"
  />

  <div
    class="drop-zone"
    [class.dragging]="isDragging"
    (click)="openFileDialog()"
    (drop)="onDrop($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave()"
  >
    <p *ngIf="!isUploading">Haz click o arrastra imágenes aquí</p>
    <p *ngIf="isUploading">Subiendo imágenes...</p>
  </div>

  <div class="preview-grid" *ngIf="previews.length">
    <img *ngFor="let img of previews" [src]="img" />
  </div>

</div>