<section [ngStyle]="{
  'height': '100vh',
  'background-image': 'url('+ data.imagen +')',
  'background-attachment': 'fixed',
  'background-size': 'cover',
  'background-position': 'center 2px',
  'display': 'flex',
  'flex-direction': 'column',
  'align-items': 'center',
  'justify-content': 'flex-start',
  'padding': '40px 20px',
  'color': 'white',
  'text-align': 'center',
  'background-repeat': 'no-repeat'
}">
<div style="margin-bottom: 5vw;"><h1>Indicaciones para el Evento</h1></div>
  <div class="grid-container">
    <div class="card card-with-icon" *ngFor="let item of data.details let i = index"
         contenteditable="true"
         (blur)="saveContent($event, item.id)">
         
        <!-- Ícono encima -->
        <div class="cardIcon">
          <img src="../../../../assets/Indicaciones.png" />
        </div>

        <!-- Contenido -->
        <div class="titulo">{{item.titulo}}</div>
        <div [innerHTML]=item.descripcion></div>
    </div>    
  </div>
</section>

<!-- <section class="normal">
  <h2>Contenido extra</h2>
  <p>
    Aquí puedes poner cualquier otro contenido.  
    El parallax se mantiene solo en la primera sección.
  </p>
</section> -->
