<div class="sideBar">
  <div style="text-align: center;">
    <img src="../../../../assets/images/Evantix.png" alt="Logo" height="128px" width="128px"/>  
  </div>
  <mat-nav-list>    
    <mat-list-item (click)="toggleInvitacionesSubmenu()">
      <span>Invitaciones</span>
      <mat-icon class="expand-icon">{{ submenuInvitacionesOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
    </mat-list-item>
    <div *ngIf="!submenuInvitacionesOpen" class="submenu">
      <a mat-list-item routerLink="/dashboard" 
            [ngClass]="{ 'selected': selectedRoute === '/dashboard' }"
            (click)="selectRoute('/dashboard')">
          <span>Mis Eventos</span>
      </a>
      <!-- <a mat-list-item
        *ngIf="showInvitaciones; else invitacionesDisabled"
        routerLink="/invitaciones"
        [ngClass]="{ 'selected': selectedRoute === '/invitaciones' }"
        (click)="selectRoute('/invitaciones')">
        <span>Mis Invitaciones</span>
      </a> -->
      <!-- <ng-template #invitacionesDisabled>
        <a mat-list-item class="disabled-link" style="pointer-events: none; opacity: 0.5;" title="Funcionalidad no disponible con tu plan">
          <span>Mis Invitaciones</span>
        </a>
      </ng-template> -->
      <a mat-list-item 
          *ngIf="showInvitados; else invitadosDisabled"
          routerLink="/invitados" 
          [ngClass]="{ 'selected': selectedRoute === '/invitados' }"
          (click)="selectRoute('/invitados')"><span>Mis Invitados</span></a>
      <ng-template #invitadosDisabled>
        <a mat-list-item class="disabled-link" style="pointer-events: none; opacity: 0.5;" title="Funcionalidad disponible una vez que una de sus invitaciones este publicada">
          <span>Mis Invitados</span>
        </a>
      </ng-template>
      <a mat-list-item routerLink="/mesas" 
          [ngClass]="{ 'selected': selectedRoute === '/mesas' }"
          (click)="selectRoute('/mesas')"><span>Acomodo de Mesas</span></a>
    </div>
    <mat-list-item (click)="toggleConfirmacionesSubmenu()">
      <span>Confirmaciones</span>
      <mat-icon class="expand-icon">{{ submenuConfirmacionesOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
    </mat-list-item>
    <div *ngIf="submenuConfirmacionesOpen" class="submenu">
      <a mat-list-item routerLink="/profile"><span>Campañas</span></a>
      <a mat-list-item routerLink="/account"><span>Lista de Confirmaciones</span></a>      
    </div>
    <a mat-list-item routerLink="/settings"><span>Configuraciones</span></a>
  </mat-nav-list>  
</div>
