<div *ngIf="!loading">
    <div class="container">
        <div class="row">
            <div *ngIf="!editingTitle; else editTitle" class="text-center fh5co-heading" (click)="enableTitleEdit()">
                <h2>{{data.titulo}}</h2>			
            </div>
        </div>				
    </div>
    <ng-template #editTitle>
        <input
        [(ngModel)]="tempTitle"
        (blur)="saveTitle()"
        class="form-control"
        autofocus
        style="margin-top:100px"
        />
    </ng-template>

    <div>
        <div class="image-container">
            <!-- Imagen principal -->
            <img [src]="data.imagen" 
                alt="" 
                class="img-frase" 
                *ngIf="!loading" 
                @fadeInScale>

            <!-- Botón de editar (arriba a la derecha) -->
            <img src="../../../../assets/editarImagen.png" 
                alt="editar imagen" 
                class="edit-image-btn"
                (click)="triggerImageUpload()" 
                title="Click para editar imagen" 
                *ngIf="!loadingImg">
            <div class="loaderFestejados" *ngIf="loadingImg"></div>                
        </div>        

        <!-- Texto editable -->
        <div>
            <div class="frase-txt" *ngIf="!editingFrase; else editFrase" (click)="enableFrase()">
            <p>{{data.frase}}</p>
            </div>
            <ng-template #editFrase>
            <input
                [(ngModel)]="tempFrase"
                (blur)="saveFrase()"
                class="form-control"
                autofocus
                style="margin-top:100px"
            />
            </ng-template>
        </div>
    </div>

</div>