<div class="header-row">
  <div><h1>Mis Eventos</h1></div>
  <div><button class="btn btn-primary" type="button" routerLink="/nuevoEvento">Nuevo Evento</button></div>
</div>
<!-- LOADING GIF -->
<div *ngIf="loading" class="loading-container">
  <img src="../../../assets/images/loading2.gif" alt="Cargando..." />
</div>

<div *ngIf="!loading" style="width: 90%; height: 500px;">
<app-edgwin-grid
  [columns]="columns"
  [data]="rowData"
  (action)="onActionHandler($event)">
</app-edgwin-grid>
</div>

<app-popup-html
    [visible]="showPopup"
    [htmlContent]="terminosHtml"
    [title]="'Seleccione su metodo de pago'"
    (closed)="showPopup = false">
</app-popup-html>

