.carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
}

#fh5co-header .display-tc,
#fh5co-counter .display-tc,
.fh5co-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#fh5co-header .display-tc h1, #fh5co-header .display-tc h2,
#fh5co-counter .display-tc h1,
#fh5co-counter .display-tc h2,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#fh5co-header .display-tc h1,
#fh5co-counter .display-tc h1,
.fh5co-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 100px;
  line-height: 1.5;
  font-family: "Sacramento", Arial, serif;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h1,
  #fh5co-counter .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header .display-tc h1,
  #fh5co-counter .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 60px;
  }
}
#fh5co-header .display-tc h2,
#fh5co-counter .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 45px;
  line-height: 1.5;  
  margin-bottom: 30px;
  margin-top: 40px;
}
@media screen and (max-width: 480px) {
  #fh5co-header .display-tc h2,
  #fh5co-counter .display-tc h2,
  .fh5co-cover .display-tc h2 {
    font-size: 30px;
  }
}
#fh5co-header .display-tc .btn,
#fh5co-counter .display-tc .btn,
.fh5co-cover .display-tc .btn {
  padding: 15px 20px;
  background: #fff !important;
  color: #F14E95;
  border: none !important;
  font-size: 14px;
  text-transform: uppercase;
}
#fh5co-header .display-tc .btn:hover,
#fh5co-counter .display-tc .btn:hover,
.fh5co-cover .display-tc .btn:hover {
  background: #fff !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

.fh5co-cover {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.fh5co-cover .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.fh5co-cover > .fh5co-container {
  position: relative;
  z-index: 10;
}
.fh5co-cover .display-t,
.fh5co-cover .display-tc {
  height: 100vh;
  display: flex;  
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .divFechas {
    margin-top: 15vh;
  }
  .fechaTxt {
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 20px;
    color: white;
  }
  .editImageFrase {
    position:absolute;
    top: 80vh;
    left: 68vw;
    cursor: pointer;  
  }
}

.editImage {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 20;
}

.fh5co-cover .text-center {
  position: relative;
  z-index: 10;
}

.edit-imagePortada-btn {
  width: 40px;  /* opcional: tamaño fijo */
  height: 40px; /* opcional */
}

.edit-imagePortada-btn:hover {
  transform: scale(1.1);
}

.loaderPortada {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #ff0000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  background: transparent;
  position: absolute;
  top: 0.8vw;
  right: 10px;
}

.editablePortadaTitulo {  
  font-size: 150px;
  line-height: 1.5;
  font-family: "Sacramento", Arial, serif;
  color: white;
}

.editablePortadaSubtitulo{
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;  
  color: white;
  font-size: 45px;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: 40px;
}

.fechaTxt {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 30px;
  color: white;
}

.left{
  font-size: 20px;
  color: white;
}

.editImageFrase {
  position:absolute;
  top: 200vh;
  left: 55vw;
  cursor: pointer;  
}

.edit-imagePortada-btn {
  width: 40px;  /* opcional: tamaño fijo */
  height: 40px; /* opcional */
}

.edit-imagePortada-btn:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .editablePortadaTitulo {
    font-size: 65px;
  }

  #fh5co-header .display-tc h2,
  #fh5co-counter .display-tc h2,
  .fh5co-cover .display-tc h2 {
    font-size: 30px;
  }
}