<div *ngIf="loading" class="loading-container">
  <img src="../../../assets/images/loading.gif" alt="Cargando..." />
</div>

<header
  *ngIf="!loading"
  id="fh5co-header"
  class="fh5co-cover"
  role="banner"
  [ngStyle]="{
    'background-image':
      'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' +
      data?.imagen +
      ')',
    'background-size': 'cover',
    'background-position': 'center'
  }"  
  data-stellar-background-ratio="0.5"
>
  <div class="editImage"> 
    <img src="../../../../assets/editarImagen.png" class="edit-imagePortada-btn" alt="" title="Click para editar imagen de fondo" (click)="triggerImageUpload()" *ngIf="!loadingImg">
    <div class="loaderPortada" *ngIf="loadingImg"></div>
  </div>
  
  <div class="text-center">
    <div class="display-t">
      <div class="display-tc">
        <!-- Título -->
         <div class="text-center fh5co-heading editablePortadaTitulo" contenteditable="true"
            (blur)="onTituloBlur($event)" 
            (click)="onClickTitulo()"
            (keydown)="onKeyDown($event)"            
            style="margin-top:100px">
            {{ data?.titulo }}
         </div>
        <!-- Subtítulo -->
        <div class="editablePortadaSubtitulo" contenteditable="true" (keydown)="onKeyDown($event)" (click)="onClickSubtitulo()" (blur)="onSubtitleBlur($event)">
          <h2>{{ data?.subTitulo }}</h2>
        </div>
        <!-- Fechas -->
        <div class="divFechas">
          <div class="fechaTxt"
            *ngIf="!editingDate; else editDate"
            (click)="enableDateEdit()">
            {{ stringDate }}
          </div>

          <ng-template #editDate>
            <div class="date-time-picker">
              <!-- Selector de fecha -->
              <mat-form-field appearance="fill" class="campo-4">
                <mat-label>Selecciona fecha</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  [(ngModel)]="tempDate"
                  (dateChange)="onDateChange($event)"
                  required
                />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <!-- Selector de hora -->
              <mat-form-field appearance="fill" class="campo-4">
                <mat-label>Hora</mat-label>
                <input
                  matInput
                  type="time"
                  [(ngModel)]="tempTime"
                  (blur)="saveDate()"
                  required
                />
              </mat-form-field>
            </div>
          </ng-template>

          <!-- Countdown -->
          <app-countdown-timer
            *ngIf="data?.fecha"
            [targetDate]="data?.fecha"
            [showLabels]="true"
          ></app-countdown-timer>
        </div>

			</div>
    </div>
  </div>
</header>
